<html>
    <head>
    <title>Health Cover Calculator</title>     
    </head>
    <body>
        <div style="background-color: #4ae1d0;">
        <h1>Health Cover Calculator</h1>    
        <form action="/predict" method="post">
           <label>AGE: </label> <input type="number" name="html_age"><br><br>
           
           <label>SEX: </label> <select name="html_sex">
                <option value="male">MALE</option>
                <option value="female">FEMALE</option>
                </select>
                <br><br>
           <label>BMI: </label> <input type="float" name="html_bmi"><br><br>
           <label>NUMBER OF CHILDRENS: </label> <input type="number" name="html_childs"><br><br> 
           <label>SMOKER: </label> <select name="html_smoke">
            <option value="yes">YES</option>
            <option value="no">NO</option>
            </select>
            <br><br>  
           <input type="SUBMIT" value="CHECK HEALTH COVER">
           <h3>{{PREDICT_VALUE}}</h3>
           
        </form>
        </div>
    </body>
</html>